@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@530&display=swap');



.listCon {
    background-color: rgb(90, 81, 81);
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 20px;
    border-radius: 10px;
}

.heading {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
    font-size: 25px;
    color: white;
    background-color: rgb(51, 43, 43);
}

.DescCon{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}